/* FileUploadPage.css */

.result-table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ccc;
  }
  
  .result-table th,
  .result-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  .result-table th {
    background-color: #f2f2f2;
  }
  